<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<!-- Animate CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- CSS  -->
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<title>Bar Exam</title>
  <link rel="shortcut icon" href="./images/BC_Logo_icon.png" type="image/vnd.microsoft.icon">


</head>

<body>
	<nav>
    <div class="nav-wrapper amber darken-3">
      <a href="#!" class="brand-logo">Bar Exam</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
	<main class="valign-wrapper">
	<div class="container">
		{{#if success_msg}}
		<div class ="alert alert-success">{{success_msg}}</div>
		{{/if}}

		{{#if success_msg}}
		<div class ="alert alert-danger">{{error_msg}}</div>
		{{/if}}

		{{#if success_msg}}
		<div class ="alert alert-danger">{{error}}</div>
		{{/if}}

		{{{body}}}

	</div>

	</main>
	<footer class="footer center amber darken-3">
		<p>&copy; Bar Exam 2017</p>
	</footer>
	<script type="text/javascript">
		$(".button-collapse").sideNav();
	</script>
</body>
</html>
