


        <!-- DESCRIPTION -->
        <div class="row">
            <div class="col s12 center-align">
                <img id="logo" class="" src="./images/BarExamLogo.jpg" alt="Bar Exam Logo">
                <br>
                <p id="desc">Get ready to flex more than just your drinking muscles - bar trivia is now in the palm of your hand! Create, customize, and invite your drinking buddies to a game of trivial knowledge and major bragging rights. See who really knows it all in Bar Exam! </p>
                <br>
                <a href="/register"><button id="signup" class="btn amber darken-2">Sign Up</button></a>
            </div>
        </div>
    



