
<form class="login" method="post" action="/login">
<h2 class="page-header">Account Login</h2>
  <div class="form-group">
    <label class="amber-text text-darken-3">Username</label>
    <input type="text" class="form-control" name="username" id="usernameInput" placeholder="Please Enter Your Username">
  </div>
  <div class="form-group">
    <label class="amber-text text-darken-3">Password</label>
    <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Please Enter Your Password">
  </div>
  <div class="center">
  <button type="submit" class="btn amber darken-2">Submit</button>
  </div>
</form>
<script>
	var username = "{{data.username}}";
	var fromSignUp = {{data.fromSignUp}};</script>
  <script src="../js/login.js"></script>
