
<form method="post" action="/login">
<h2 class="page-header">Account Login</h2>
  <div class="form-group">
    <label class="amber-text text-darken-3">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Please Enter Your Username">
  </div>
  <div class="form-group">
    <label class="amber-text text-darken-3">Password</label>
    <input type="password" class="form-control" name="password"placeholder="Please Enter Your Password">
  </div>
  <div class="center">
  <button type="submit" class="btn amber darken-2">Submit</button>
  </div>
</form>
