
{{#if errors}}
{{#each errors}}
<div class="notice error"><i class "icon-remove-sign icon-large"></i> {{msg}}
  <a href="#close" class="icon-remove"></a></div>
  <!-- <div class ="alert alert-danger">{{msg}}</div> -->
  {{/each}}
  {{/if}}

<form class="signup" method="post" action="/register">
    <h2 class="page-header">Register</h2>
    <div class="form-group">
        <label class="amber-text text-darken-3">Username</label>
        <input type="text" class="form-control" placeholder="How others see you" id="username" name="username">
    </div>
    <div class="form-group">
        <label class="amber-text text-darken-3">Email</label>
        <input type="email" class="form-control" placeholder="you@triviamaster.com" id="email" name="email">
    </div>
    <div class="form-group">
        <label class="amber-text text-darken-3">Password</label>
        <input type="password" class="form-control" placeholder="T0tal1ySecur3" id="password" name="password">
    </div>
    <div class="center">
        <button type="submit" class="btn btn-default hoverable amber darken-2">Submit</button>
    </div>
</form>
